.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/c_cpp_properties.json
**/*.exe
.gitignore
c_fundamentals/.vscode/tasks.json
c_fundamentals/.vscode/settings.json
c_fundamentals/.vscode/launch.json
